*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

header {
  background-color: #f3fff9;
  width: 100%;
  scroll-snap-align: start;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  width: 56%;
  position: relative;
  z-index: 100;
}

.logo {
  width: 33px;
}

.hamburger {
  width: 31px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  transition: gap 0.3s ease;
}

.hamburger span {
  display: block;
  height: 3px;
  background-color: #6b57ce;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger span:nth-child(2) {
  width: 65%;
}

.hamburger span:nth-child(1),
.hamburger span:nth-child(3) {
  width: 100%;
}

.hamburger:hover {
  gap: 7px;
}

.hero-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 56%;
  transform: scale(1);
  opacity: 0;
  animation: slideUpFade 1s ease-out forwards;
}

.hero {
  width: 100%;
}

@keyframes slideUpFade {
  from {
    transform: translateY(100px) scale(1);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
main {
  position: relative;
}
.strelica {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 50px;
  animation: bounce 2.3s infinite;
}
.arrow {
  width: 50px;
  height: 50px;
  cursor: pointer;
  align-self: center;
  margin-bottom: 30px;
  animation: bounce 2.3s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-40%) translateY(0);
  }
  50% {
    transform: translateX(-40%) translateY(8px);
  }
}

.menu-overlay {
  position: absolute;
  inset: 0;
  background-color: #f3fff9;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  z-index: 5;
}

.menu-overlay ul {
  list-style: none;
  text-align: center;
}

.menu-overlay li {
  margin: 20px 0;
}

.menu-overlay a {
  text-decoration: none;
  font-size: 34px;
  font-weight: 500;
  color: rgb(46, 46, 46);
}

.menu-overlay a:hover,
.menu-overlay a.active {
  color: #6b57ce;
}

.menu-open .menu-overlay {
  opacity: 1;
  pointer-events: auto;
}

.menu-open .hero-sec,
.menu-open .arrow {
  opacity: 0;
  pointer-events: none;
}

.menu-open .hamburger:hover {
  gap: 4px;
}

.menu-open .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-open .hamburger span:nth-child(2) {
  opacity: 0;
}

.menu-open .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px 0px;
  width: 100%;
  padding: 10px 20px;
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
}

.mobile h1 {
  font-weight: 600;
  margin-bottom: 20px;
}

.mobile p {
  color: rgb(36, 36, 36);
  font-size: 18px;
  width: 100%;
  text-align: center;
}
.featured {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #6c6fc9, #3cb78a);
  color: white;
  height: 80px;
  scroll-snap-align: start;
}

.featured p {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 2px;
}

.radovi {
  margin: 40px auto 47px auto;
  display: flex;
  gap: 16px;
  width: 80%;
  justify-content: center;
}

.radovi img {
  width: 18.2%;
  height: auto;
  max-width: 100%;
}

.wradovi {
  margin: 40px auto 47px auto;
  display: flex;
  gap: 16px;
  width: 80%;
  justify-content: center;
}

.wradovi img {
  width: 60%;
  height: auto;
  max-width: 100%;
}
.custom-btn {
  background-color: black;
  color: white;
  padding: 14px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

.custom-btn:hover {
  border: 2.2px solid black;
  background-color: rgb(245, 245, 245);
  color: black;
}
.okvir {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  width: 100%;
  max-width: 1200px;
}

.okvir.active {
  opacity: 1;
  pointer-events: auto;
}

.close-video {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #000000;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  z-index: 10;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.okvir img.okvir-slika {
  width: 100%;
  display: block;
}

.okvir video.unutra {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 4px;
}

.video-crop {
  margin-top: 20px;
  height: calc(100% - 28px);
  overflow: hidden;
  position: relative;
}

.video-crop video {
  margin-top: -28px;
  width: 350px;
  display: block;
}

.video-crop1 {
  margin-top: 20px;
  height: calc(100% - 28px);
  overflow: hidden;
  position: relative;
}

.video-crop1 video {
  margin-top: -28px;
  width: 350px;
  display: block;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #6c6fc9, #3cb78a);
  color: white;
  height: 85px;
  scroll-snap-align: start;
}

footer p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.8;
}

.mobile .wradovi ~ .video-wrapper video {
  width: 100%;
  max-width: 1100px;
  height: auto;
}

.mobile .wradovi ~ .video-wrapper {
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .hero-sec,
  nav {
    width: 85%;
  }

  .arrow {
    width: 40px;
    height: 40px;
  }

  .menu-overlay a {
    font-size: 26px;
  }

  .featured {
    height: 70px;
  }
  .mobile {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .featured p {
    font-size: 22px;
  }
  .radovi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 90%;
  }

  .radovi img {
    width: 100%;
  }

  .close-video {
    right: -5px;
  }
  .video-crop video {
    margin-top: -22px;
    width: 280px;
  }

  .video-crop1 video {
    margin-top: -17px;
    width: 350px;
  }

  .wradovi {
    width: 90%;
  }
  .wradovi img {
    width: 100%;
  }

  .strelica {
    right: 10px;
  }
  .mobile h1 {
    font-size: 24.5px;
  }

  .mobile p {
    font-size: 16.5px;
  }
}
@media (min-width: 901px) and (max-width: 1000px) {
  .featured p {
    font-size: 25px;
  }

  .video-crop video {
    margin-top: -22px;
    width: 280px;
  }
  .video-crop1 video {
    margin-top: -29px;
    width: 280px;
  }
}
